/*------------------------------------
  File for your custom SCSS style
------------------------------------*/
$primary: #8a0e0e;


.list-group-item.active {
  background: $secondary !important;
}
.messaging-nav {
  border-radius: 3px;
  a { 
    color: $gray-700;
  }
}
.step_active {
  background: $secondary;
  border-radius: 6px;
  color: white;
  padding: 2px 8px;
}
.suggestion-button {
  height: 70px;
  cursor: pointer;
  border: solid 1px rgba(255, 255, 255, 0);
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.3);
  background: $primary;
  width: 130px;
  box-sizing: border-box;
  padding: 5px;
  -webkit-transform: rotate(-90deg);
  font-weight: 600;
  color: #fff;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 17px;
  position: fixed;
  right: -40px;
  border-radius: 3px 3px 0 0;
  top: 75%;
  font-family: "Roboto", helvetica, arial, sans-serif;
  z-index: 999;
  transition: all .1s ease-in-out;
}
.networks-grid-item {
  flex:1 0 33.3%;
  min-height: 120px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media (max-width: 1200px) {
  .container {
    max-width: 100% !important;
  }
}
.u-header__navbar-brand, .u-header__navbar-brand > img {
  width:auto;
  height:2.3rem;
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .navbar-expand-md .u-header__navbar-brand {
    padding-top: 0;
  }
}
.u-header__navbar-body, .u-header__navbar-nav {
  margin-left: auto;
}
body {
  height: 100vh;
}
.dropdown-toggle.item-detail-drop::after {
  margin-left: 0;
}