@use 'sass:map';

// COLORS
$bittersweet: #ff6b6b;
$eagleGreen: #1a535c;
$gunmetal: rgb(13, 43, 48);
$lightCyan: #cff2ef;
$lightGrey: #aeaeae;
$lighterGrey: #cecece;
$medTurquoise: #4ecdc4;
$mintCream: #f7fff7;
$naplesYellow: #ffe66d;
$white: #fff;

// FONTS
$lato: 'Lato, sans-serif';
$poppins: 'Poppins, sans-serif';

// SIZES
$breakpoints: (
	tablet: 576px,
	desktop: 768px,
	wide: 992px,
);
$XXS: 0.5rem;
$XS: 1rem;
$S: 2rem;
$M: 3rem;
$L: 5rem;
$XL: 7rem;
$XXL: 9rem;

// NAMED VARIABLES
$appBackground: $lightCyan;
$btnColor: $bittersweet;
$cardBackgroundPrimary: $mintCream;
$headerSize: $L;
$navBackgroundColor: $naplesYellow;
$shadowColor: rgba($gunmetal, 0.1);
$shadow: 5px 5px 5px $shadowColor;
$textColor: $gunmetal;
$textSize: $S;
$transition: 0.1s all ease-in-out;

// FUNCTIONS

@mixin flexColCenter() {
	// center something with flex
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin mq($key) {
	// mobile-first media queries: insert key for that think and ABOVE
	$size: map.get($breakpoints, $key);
	@media only screen and (min-width: $size) {
		@content;
	}
}
