@use '../base/vars' as v;

.header {
	&__container {
		width: 80%;
		margin: v.$M auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 2px solid v.$textColor;
		padding: v.$XS 0;
	}
	&__heading {
		font-size: v.$S;
		font-weight: bold;

		@include v.mq(desktop) {
			font-size: v.$M;
		}

		&--sidebar {
			font-size: v.$M;
			padding-bottom: v.$S;
		}
	}
}
