@use '../base/vars' as v;

.key {
	background: v.$cardBackgroundPrimary;
	padding: 1.6rem 3.4rem 3rem 3.4rem;
	width: 23rem;

	&__group {
		display: flex;
		& + & {
			margin-top: v.$S;
		}
	}

	&__square {
		border: 1px solid #cecece;
		display: flex;
		flex-direction: column;
		width: v.$S;
		height: v.$S;

		&--bu1 {
			background-color: #70d6ff;
		}
		&--bu2 {
			background-color: #ffd670;
		}
		&--bu3 {
			background-color: #ef709d;
		}
		&--bu4 {
			background-color: #dabfff;
		}
		&--bu5 {
			background-color: #85ffc7;
		}
	}

	&__description {
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 500;
		padding-left: v.$S;
	}
}
