@use '../base/vars' as v;

.nav {
	background-color: v.$navBackgroundColor;
	padding: v.$S 0;

	&__container {
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include v.mq(tablet) {
			width: 80%;
		}
	}

	&__link {
		cursor: pointer;
		font-size: v.$XS;
		font-weight: bold;
		@include v.mq(desktop) {
			font-size: v.$S;
		}

		& + & {
			margin-left: v.$M;
			@include v.mq(desktop) {
				margin-left: v.$L;
			}
		}

		&:hover {
			border-bottom: 1px solid v.$textColor;
		}
	}

	&__logo {
		font-size: v.$S;
		font-weight: bold;
		transition: 0.5s all ease-in-out;
		@include v.mq(desktop) {
			font-size: v.$M;
		}
	}
}
