@use '../base/vars' as v;

.sidebar {
	grid-area: sidebar;
	grid-column: 1;
	grid-row: 3;

	&__box {
		background: v.$cardBackgroundPrimary;
		-webkit-box-shadow: v.$shadow;
		box-shadow: v.$shadow;
		margin: v.$M auto;
		width: 30rem;

		&--key {
		}

		&:first-child {
			margin: v.$XS auto;
		}
	}
}
